page {
  background-color: #fff8ec;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB',
    'Microsoft Yahei', sans-serif;
  color: #2f2f2f;
  font-size: 28px;
  box-sizing: border-box;
}
