.uat {
  display: inline-flex;
  align-items: center;
  background: #fff4e5;
  border: 2rpx solid #ffa940;
  border-radius: 8rpx;
  padding: 0 8rpx;
  margin-left: 8rpx;
  vertical-align: middle;

  &--small {
    height: 28rpx;
  }

  &--medium {
    height: 36rpx;
    padding: 0 12rpx;
    border-radius: 12rpx;
  }

  &__text {
    font-size: 20rpx;
    color: #d46b08;
    line-height: 1;
    font-weight: 500;
  }
}
