@use '../../styles/tokens.scss' as *;

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-xl;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 96px;
    margin: 0 auto $spacing-md;
    color: $color-text-secondary;
    opacity: 0.5;
  }

  &__text {
    font-size: $font-size-sm;
    color: $color-text-secondary;
  }
}
